*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: blueviolet;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 40%;
    /* height: 400px; */
    background: white;
    box-shadow: 1px 2px 5px rgb(35, 32, 32);
    border-radius: 1rem;
    padding: 15px;  
}
.row{
    margin: 2rem;
    margin-left: 0;
}
.btn{
    width:20%;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: blueviolet;
    text-transform: capitalize;
    color: white;
    margin: 0 1rem;
}
label{
    font-size: 1.1rem;
}
.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}